@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-Poppins: "Poppins", sans-serif;
  --font-Warnes: "Warnes", cursive;
  --font-Montserrat: "Montserrat", sans-serif;
}

body {
  background-color: black;
  color:azure;
  font-family: var(--font-Poppins);
}

body::-webkit-scrollbar {
  display: none;
}

p, a, span, td, input {
  font-family: var(--font-Montserrat);
}

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 100%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(285, 5%, 14%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(285, 5%, 14%);
  --primary: hsl(285, 6%, 21%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(286, 1%, 96%);
  --secondary-foreground: hsl(285, 6%, 21%);
  --muted: hsl(286, 1%, 96%);
  --muted-foreground: hsl(286, 16%, 55%);
  --accent: hsl(286, 1%, 96%);
  --accent-foreground: hsl(285, 6%, 21%);
  --destructive: hsl(27, 25%, 57%);
  --destructive-foreground: hsl(27, 25%, 57%);
  --border: hsl(286, 4%, 92%);
  --input: hsl(286, 4%, 92%);
  --ring: hsl(286, 15%, 70%);
  --chart-1: hsl(347, 77%, 50%);
  --chart-2: hsl(352, 83%, 91%);
  --chart-3: hsl(350, 80%, 72%);
  --chart-4: hsl(351, 83%, 82%);
  --chart-5: hsl(349, 77%, 62%);
  --radius: 0.625rem;
  --sidebar: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(285, 5%, 14%);
  --sidebar-primary: hsl(285, 6%, 21%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(286, 1%, 96%);
  --sidebar-accent-foreground: hsl(285, 6%, 21%);
  --sidebar-border: hsl(286, 4%, 92%);
  --sidebar-ring: hsl(286, 15%, 70%);
}

.dark {
  --background: hsl(285, 5%, 14%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(285, 5%, 14%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(285, 5%, 14%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 98%);
  --primary-foreground: hsl(285, 6%, 21%);
  --secondary: hsl(286, 6%, 27%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(286, 6%, 27%);
  --muted-foreground: hsl(286, 15%, 70%);
  --accent: hsl(286, 6%, 27%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(25, 14%, 39%);
  --destructive-foreground: hsl(25, 24%, 63%);
  --border: hsl(286, 6%, 27%);
  --input: hsl(286, 6%, 27%);
  --ring: hsl(286, 17%, 44%);
  --sidebar: hsl(285, 6%, 21%);
  --sidebar-foreground: hsl(0, 0%, 98%);
  --sidebar-primary: hsl(264, 24%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(286, 6%, 27%);
  --sidebar-accent-foreground: hsl(0, 0%, 98%);
  --sidebar-border: hsl(286, 6%, 27%);
  --sidebar-ring: hsl(286, 17%, 44%);
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@keyframes spin-border {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-spin-border {
    background-size: 300% 300%;
    animation: spin-border 3s linear infinite;
  }
  
button, a{
  cursor: pointer;
}
